body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-button {
  width: 50% !important;
  padding: 12px, 24px, 12px, 24px;
  /* justify-content: start !important; */
}

.full-width-dropdown {
  width: 100%;
  gap: 4;
}
.half-width-dropdown {
  width: 50%;
  min-width: 150px;
}
.error-message {
  color: #e44258;
  font-size: 14px;
}